/* Created by Qianglong Mo 2015 */

/* my favorite */
.myFavorite {}

/* favorite filter */
.myFavoriteFilter {
    border: 1px solid #ddd;
}

.myFavoriteFilter .select {
    margin: 3px 10px 0 0 ;
}

.myFavoriteFilter .selectBd{
    width: 200%;
    left: auto;
    right: 0;
}

.myFavoriteFilterNav {
    padding: 7px 0;
}

.myFavoriteFilterNav li {
    float: left;
    line-height: 16px;
    padding: 0 16px;
    border-right: 1px solid #e6e6e6;
}

.myFavoriteFilterNav li:last-child {
    border-right: none;
}

.myFavoriteFilterNav li a {
    font-size: 14px;
    color: #616161;
}

.myFavoriteFilterNav li.active a,
.myFavoriteFilterNav li:hover a{
    color: #e14041;
}


/* table operate */
.myFavoriteTableOperate {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 22px 0;
    text-align: left;
}

.operateCheckbox {
    margin-right: 22px;
}

.operateCheckbox .checkbox i {
    margin-top: -1px;
}

.myFavoriteTableOperate .operate {
    color: #555;
    margin-right: 22px;
    cursor: pointer;
}

.myFavoriteTableOperate .operate:hover {
    color: #e14041;
}

.myFavorite .tableGoodInfo .checkbox {
    margin: 0 25px;
}

.myFavorite .tableBd td {
    padding: 20px 0;
    height: 90px;
}

.myFavorite .tableBd .middleTd {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.myFavorite .tableBd .productRow {
    padding: 12px 0;
}

/* tuihuo table */
.tuihuoTable {}
.tuihuoTable .tableBd .item{
    width: 265px;
    margin-left: 25px;
}
.tuihuoTable .tableBd .name{
    width: 116px;
    line-height: 90px;
    margin: 0 0 0 15px;
}

.tuihuoTable .tableBd .name a{
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
}

.tuihuoTable .tableBd .operateBtn {
    padding-top: 35px;
}

.tuihuoTable .tableBd .amount {
    margin-top: 32px;
}

.tuihuoTable .tableBd .middle {
    display: inline-block;
    vertical-align: middle;
    line-height: 19px;
}

.tuihuoTable .tableBd .add,
.tuihuoTable .tableBd .less {
    background: url("../images/jia.png") no-repeat scroll center center;
    cursor: pointer;
    float: left;
    height: 30px;
    text-align: center;
    transition: all 1s ease-out 0s;
    width: 12px;
}

.tuihuoTable .tableBd .less {
    background: url("../images/jian.png") no-repeat scroll center center;
}

.tuihuoTable .tableBd .quantity_txt {
    border: 1px solid #d1d1d1;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 10px;
    text-align: center;
    width: 50px;
}

.tuihuoTable .tableBd .btnDefault:hover {
    color: #e14041;
}
